<div class="content" role="main">
    <h2>RECURSOS HUMANOS ONLINE</h2>
    <h4><p>Abaixo estão os links dos serviços disponíveis:</p></h4>
  
    <div class="card-container">
      <a class="card" target="_blank" rel="noopener" routerLink="">
        <span>Cartão de ponto</span></a>
      <a class="card" target="_blank" rel="noopener" routerLink="">
        <span>Declarações</span></a>
      <a class="card" target="_blank" rel="noopener" routerLink="">
        <span>Transporte/Fretado</span></a> 
      <a class="card" target="_blank" rel="noopener" routerLink="">
        <span>Benefícios</span></a>
      <a class="card" target="_blank" rel="noopener" routerLink="/cadastro-vagas">
        <span>Cadastro de Vagas Internas</span></a>
      <a class="card" target="_blank" rel="noopener" routerLink="/mural-vagas">
        <span>Mural de Vagas Internas</span></a>   
      <a class="card" target="_blank" rel="noopener" routerLink="">
        <span>Imposto de Renda(2021)</span></a>
      <a class="card" target="_blank" rel="noopener" routerLink="">
        <span>Telefones Úteis</span></a>       
    </div>
  </div>
